body{
    background-image: url(images/graveyard.png);
}
.container{
  margin: auto;
}
.inputContainer{
  text-align: center;
  top: 500px;
  margin-top: 50px;

}
.inputContainer input{
  width: 60px;
  border-radius: 50px;
  border: black solid 3px;
  font-size: 20px;
}
.inputContainer input::placeholder{
  color: black;
  text-align: center;
  font-size: 14px;
}
#countdownTitle{
  text-align: center;
  font-size: 100px;
  margin-top: 145px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.countdownContainer{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
  
}
.countdownContainer var{
  font-size: 125px;
}
.buttons{
  text-align: center;
  margin-top: 100px;
  font-size: 150px;
}
#start{
  margin: 20px;
  background-color: transparent;
  border: none;
}
#restart{
  margin: 20px;
  background-color: transparent;
  border: none;
}
#stop{
  margin: 20px;
  background-color: transparent;
  border: none;
}



